.{margin:0;
padding:0;
}
.header{width:auto;
height:70px;
background-color:GREEN;
padding:10px;
}
.section{widows:auto;
 color:black;
 height:350px;
margin:20px;
}
.footer{width:auto;
height:100px;
background-color:GREEN;
color:whitesmoke;
padding:20px;
}
.address { 
    display: block;
    font-style: italic;

	} 